[submodule "fprime"]
	path = fprime
	url = https://github.com/nasa/fprime.git
[submodule "lib/fprime-baremetal"]
	path = lib/fprime-baremetal
	url = https://github.com/fprime-community/fprime-baremetal.git
[submodule "lib/arduino/fprime-arduino"]
	path = lib/arduino/fprime-arduino
	url = https://github.com/fprime-community/fprime-arduino.git
	branch = devel
[submodule "lib/arduino/RadioHead"]
	path = lib/arduino/RadioHead
	url = https://github.com/PaulStoffregen/RadioHead.git
[submodule "lib/raspberrypi/libcamera"]
	path = lib/raspberrypi/libcamera
	url = https://github.com/lukeclements/libcamera.git
