[submodule "fprime"]
	path = lib/fprime
	url = https://github.com/nasa/fprime.git
[submodule "RadioHead"]
	path = lib/RadioHead
	url = https://github.com/jecrespo/RadioHead.git
[submodule "fprime-arduino"]
	path = lib/fprime-arduino
	url = https://github.com/SterlingPeet/fprime-arduino
