[submodule "fprime"]
	path = lib/fprime
	url = https://github.com/nasa/fprime.git
[submodule "RadioHead"]
	path = lib/RadioHead
	url = https://github.com/jecrespo/RadioHead.git
[submodule "fprime-arduino"]
	path = lib/fprime-arduino
	url = https://github.com/SterlingPeet/fprime-arduino
[submodule "Adafruit_LSM6DS"]
	path = lib/Adafruit/Adafruit_LSM6DS
	url = https://github.com/adafruit/Adafruit_LSM6DS
[submodule "Adafruit_Sensor"]
	path = lib/Adafruit/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "Adafruit_BusIO"]
	path = lib/Adafruit/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO

